
/node_modules/

/dist/
/build/


/.vite/

.env
.env.*.local
.env.local
.env.production

npm-debug.log*
yarn-error.log* 

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

*.tsbuildinfo

.cache/


*storybook.log
storybook-static

package-lock.json
